.idea__pycache__
.idea
.vscode Dictionary.py Exer-4-4.py
.vscode Dictionary.py Exer-4-4.py Exer-6-1.py chap8.py recursion.py swampy-2.1.5.python3.zip swampy-2.1.5 words.txt
.vscode Dictionary.py Exer-4-4.py Exer-6-1.py chap8.py recursion.py swampy-2.1.5.python3.zip swampy-2.1.5 words.txt
